.one{
    background-color: blue;
    font-size: xx-large;
    font-style: italic;
    padding: 20px 0%;
    width: 100%;
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: center;
    outline-style: solid;
}
p{
    background-color:red;
    display: inline;

}
footer{
    background-color: brown;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}